<h1><%= @event.title%></h1>
<%= link_to "back", events_path %>
<div class="details">
	<div class="description"><%= @event.description%></div>
	<div class="where"><%= @event.where%></div>
	<div class="starts_at"><%= @event.starts_at%></div>
	<div class="ends_at"><%= @event.ends_at%></div>
</div>