<h1>Sign in</h1>
<div style="color:red"><%= flash[:notice] %></div>
<%= form_for(@user, url: sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Autenticar" %>
  </div>
<% end %>
